
.contenedor__ul--delnav {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    color: var(--Dark-Blue);
}

.contenedor__nav {
    align-items: center;
    padding: 3em 0em 7em 0em;
}