.contenedor__avatares {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
    text-align: center;
    align-items: center;
}

.contenedor__avatares--div {
    background-color: var(--Vary-Light-Gray);
    color: var(--Type-Gray);
}
.contenedor__avatares--imgavatar {
    height: 80px;
}
.contenedor__avatares h2 {
   color: #000000;
}