.contenedor__primerasection {
    display: flex;
   /* min-height: 600px; */
}

.contenedor__descripciondiv {
    width: 50%;
    height: 100%;
    padding: 2em 4.5em;
}

.contenedor__divimagen {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor__primerasection--img {
    width: 100%;
    max-width: 550px;
}
.contenedor__primerasection--h1 {
    font-size: 3.2em;
    margin-bottom: .5em;
}

.contenedor__primerasection--parrafo {
    font-weight: 400;
    color: var(--Type-Gray);
    padding-right: 20px;
    margin-bottom: 60px;
}
.contenedor__primerasection--button {
    width: 7em;
}
.primerasection__imagen {
   visibility: hidden;
}
